**/.DS_Store
**/__pycache__/
3DDFA_V2/
2d_style_img/
3d_head_stylization/
InstantID/
PanoHead/
data/
output/
diffportrait360_release/code/model_lib/prompt-to-prompt/
diffportrait360_release/prompt-to-prompt/
diffportrait360_release/code/logs
diffportrait360_release/sample_data/
diffportrait360_release/stylized_data_iccv/
diffportrait360_release/stylized_data_styleid/
diffportrait360_release/test_img_instantid/
diffportrait360_release/code/inference_backhead2.sh
diffportrait360_release/code/inference_last_test.sh
diffportrait360_release/code/inference_last_test2.sh
diffportrait360_release/code/inference_last_test3.sh
diffportrait360_release/code/inference_last_test_app_only.sh
diffportrait360_release/code/inference_last_renderme360.sh
diffportrait360_release/code/infer_last.sh
diffportrait360_release/code/train_multiview.sh
diffportrait360_release/code/model_lib/ControlNet/models/cldm_v15_reference_only_temporal_pose_app_only.yaml
masks2/
pretrained_models/
result/
result_iccv/
stylized_dataset/
stylized_dataset_v2/
test_data/
test_img_processed/
